body {
    background-color: rgba(6, 6, 142, 0.77);
    color:#FFFFFF;
    font-size:28px;
    
}
#container
{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#board
{
    float: left;
    width:450px;
    height:450px;
    text-align: center;
}
.box {
    list-style: none;
    float: left;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background: #FBEF76;
    border: 2px solid #0B0A0A;
    border-right: 2px solid #191818;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-size: 75px;
    color: #000000;
    padding-top: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box:hover {
    background: #4F5050;
}
#statistics
{
    float: right;
    width:210px;
    height: 150px;
    text-align:start;
    font-size:20px;
}
#reset {
    text-align: center;
    border: none;
    padding: 0.6em 1.2em;
    background: rgba(169, 7, 7, 0.87);
    color: #fff;
    width: 95px;
    height: 50px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    border-radius: 15px;
}

#move-back {
    text-align: center;
    border: none;
    padding: 0.6em 1.2em;
    width: 95px;
    height: 50px;
    background: rgba(169, 7, 7, 0.87);
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    border-radius: 15px;
}
#next-round
{
    text-align: center;
    border: none;
    padding: 0.6em 1.2em;
    width: 95px;
    height: 50px;
    background: rgba(169, 7, 7, 0.87);
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    border-radius: 15px;
}
#titles{
    display: inline-block;
    vertical-align: text-top;
}

#playerStartInfo{
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2CE10F;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    content: attr(data-off);
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #8C0000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  